.header-container{
  position: relative;
  margin-bottom: 150px;
}

.seperator {
	display: flex;
	width: 100%;
	padding: 0;
  height: 400px;
  position: relative;

  &::before {   
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: skewY(357deg);
    background-size: contain;
    background: url('../../Assets/img/hero-img.jpg');
    transform-origin: bottom left;
    z-index: -1;
    background-position: center;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: skewY(357deg);
    background-size: contain;
    background: rgba(9, 59, 78, 0.911);
    transform-origin: bottom left;
    z-index: -1;
  }
}

.profile {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  & .profile-description {
    width: calc(50% - 24px);
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    & h1 {
      color: white;
    }
  }

  & .profile-mockup {
    width: calc(50% - 24px);
    margin: 12px;
    position: relative;
    overflow-y: hidden;
    display: flex;
    align-items: baseline;
  }
}

.mockup-img {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 100%;
}


