@import "../../App.scss";

.project-container {
  display: flex;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  flex-direction: row;
  flex-flow: wrap;
}

.project-card {
  display: flex;
  width: calc(100% / 3 - 24px);
  margin: 12px;
  flex-direction: column;
}

.project-img {
  width: 100%;
  height: 300px;
}